<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SI_ActualizaODS_OSBinding" />
                <binding name="SI_ActualizaODS_OSBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="SI_ActualizaIB_OSBinding" />
                <binding name="SI_ActualizaIB_OSBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="SI_BusquedaIB_OSBinding" />
                <binding name="SI_BusquedaIB_OSBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="SI_BusquedaODS_OSBinding" />
                <binding name="SI_BusquedaODS_OSBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="SI_ActRefMan_OSBinding" />
                <binding name="SI_ActRefMan_OSBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="SI_CrearReserva_OSBinding" />
                <binding name="SI_CrearReserva_OSBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="SI_Process_RPL_OABinding" />
                <binding name="SI_Process_RPL_OABinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="SI_Facturacion_OSBinding" />
                <binding name="SI_Facturacion_OSBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="SI_CONFINAL_ReprogramacionODSBinding" />
                <binding name="SI_CONFINAL_ReprogramacionODSBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="SI_OrdenVenta_OutBinding" />
                <binding name="SI_OrdenVenta_OutBinding1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvmabe84.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaIB" binding="basicHttpBinding" bindingConfiguration="SI_ActualizaIB_OSBinding" contract="srUpdateBase.SI_ActualizaIB_OS" name="HTTP_Port1" />
            <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaIB" binding="basicHttpBinding" bindingConfiguration="SI_ActualizaIB_OSBinding1" contract="srUpdateBase.SI_ActualizaIB_OS" name="HTTPS_Port1" />
            <endpoint address="http://srvmabe84.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaIB" binding="basicHttpBinding" bindingConfiguration="SI_BusquedaIB_OSBinding" contract="srHistoryBase.SI_BusquedaIB_OS" name="HTTP_Port2" />
            <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaIB" binding="basicHttpBinding" bindingConfiguration="SI_BusquedaIB_OSBinding1" contract="srHistoryBase.SI_BusquedaIB_OS" name="HTTPS_Port2" />
            <endpoint address="http://srvmabe84.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaODS" binding="basicHttpBinding" bindingConfiguration="SI_BusquedaODS_OSBinding" contract="srHistoryODS.SI_BusquedaODS_OS" name="HTTP_Port3" />
            <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaODS" binding="basicHttpBinding" bindingConfiguration="SI_BusquedaODS_OSBinding1" contract="srHistoryODS.SI_BusquedaODS_OS" name="HTTPS_Port3" />
            <endpoint address="http://srvmabe84.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActRefMan_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActRefMan" binding="basicHttpBinding" bindingConfiguration="SI_ActRefMan_OSBinding" contract="srUpdateRefMan.SI_ActRefMan_OS" name="HTTP_Port4" />
            <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActRefMan_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActRefMan" binding="basicHttpBinding" bindingConfiguration="SI_ActRefMan_OSBinding1" contract="srUpdateRefMan.SI_ActRefMan_OS" name="HTTPS_Port4" />
            <endpoint address="http://srvmabe84.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CrearReserva_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FCrear_Reserva" binding="basicHttpBinding" bindingConfiguration="SI_CrearReserva_OSBinding" contract="srModuleReserveSP.SI_CrearReserva_OS" name="HTTP_Port5" />
            <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CrearReserva_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FCrear_Reserva" binding="basicHttpBinding" bindingConfiguration="SI_CrearReserva_OSBinding1" contract="srModuleReserveSP.SI_CrearReserva_OS" name="HTTPS_Port5" />
            <endpoint address="http://sappiprod.mabenet.corpmabe.com:57000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaODS" binding="basicHttpBinding" bindingConfiguration="SI_ActualizaODS_OSBinding" contract="srUpdateODS.SI_ActualizaODS_OS" name="HTTP_Port" />
            <endpoint address="https://sappiprod.mabenet.corpmabe.com:57001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaODS" binding="basicHttpBinding" bindingConfiguration="SI_ActualizaODS_OSBinding1" contract="srUpdateODS.SI_ActualizaODS_OS" name="HTTPS_Port" />
            <endpoint address="http://srvmabe84.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Process_RPL_OA&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FProcess_RPL" binding="basicHttpBinding" bindingConfiguration="SI_Process_RPL_OABinding" contract="srADRReserveSP.SI_Process_RPL_OA" name="HTTP_Port6" />
            <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Process_RPL_OA&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FProcess_RPL" binding="basicHttpBinding" bindingConfiguration="SI_Process_RPL_OABinding1" contract="srADRReserveSP.SI_Process_RPL_OA" name="HTTPS_Port6" />
            <endpoint address="http://srvmabetest05.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Facturacion_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FFacturacion" binding="basicHttpBinding" bindingConfiguration="SI_Facturacion_OSBinding" contract="srInvoiceODS.SI_Facturacion_OS" name="HTTP_Port7" />
            <endpoint address="https://srvmabetest05.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Facturacion_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FFacturacion" binding="basicHttpBinding" bindingConfiguration="SI_Facturacion_OSBinding1" contract="srInvoiceODS.SI_Facturacion_OS" name="HTTPS_Port7" />
            <endpoint address="http://srvmabetest05.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CONFINAL_ReprogramacionODS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FReprogramacionODS" binding="basicHttpBinding" bindingConfiguration="SI_CONFINAL_ReprogramacionODSBinding" contract="srReprogramingODS.SI_CONFINAL_ReprogramacionODS" name="HTTP_Port8" />
            <endpoint address="https://srvmabetest05.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CONFINAL_ReprogramacionODS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FReprogramacionODS" binding="basicHttpBinding" bindingConfiguration="SI_CONFINAL_ReprogramacionODSBinding1" contract="srReprogramingODS.SI_CONFINAL_ReprogramacionODS" name="HTTPS_Port8" />
            <endpoint address="http://srvmabetest05.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_PORTALES_ECOMMERCE_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OrdenVenta_Out&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FPEC%2FCOM%2FOrdenVenta_vTEX" binding="basicHttpBinding" bindingConfiguration="SI_OrdenVenta_OutBinding" contract="srOrdenVenta.SI_OrdenVenta_Out" name="HTTP_Port9" />
            <endpoint address="https://srvmabetest05.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_PORTALES_ECOMMERCE_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OrdenVenta_Out&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FPEC%2FCOM%2FOrdenVenta_vTEX" binding="basicHttpBinding" bindingConfiguration="SI_OrdenVenta_OutBinding1" contract="srOrdenVenta.SI_OrdenVenta_Out" name="HTTPS_Port9" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>