<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections> 
  <connectionStrings>
    <!--<add name="db_PaxiaLabs_ServiplusEntities" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmpaxiadev01.cloudapp.net;initial catalog=db_Serviplus_Paxialabs_prod;persist security info=True;user id=usr_Master_GoRetail_dev;password=M4st3r2015;max pool size=10000;packet size=32767;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="db_PaxiaLabs_ServiplusEntities" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmpaxiapaxialabsdb.westus2.cloudapp.azure.com;initial catalog=db_PaxiaLabs_Serviplus_UAT;persist security info=True;user id=usr_Serviplus_UAT;password=@dminS3rv1plu$UAT;max pool size=10000;packet size=32767;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="db_PaxiaLabs_ServiplusEntities" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmpaxiapaxialabsdb.westus2.cloudapp.azure.com;initial catalog=db_Serviplus_Paxialabs_QA;persist security info=True;user id=usr_Serviplus_QA;password=@dminS3rv1plu$QA;max pool size=10000;packet size=32767;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_PaxiaLabs_ServiplusEntities" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmpaxiadb01.westus2.cloudapp.azure.com;initial catalog=db_Serviplus_Paxialabs_prod;persist security info=True;user id=usr_Serviplus_prod;password=S3rv1pLu$Pr0D;max pool size=10000;packet size=32767;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_PaxiaLabs_ServiplusEntities_PreProd" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmpaxiapaxialabsdb.westus2.cloudapp.azure.com;initial catalog=db_Serviplus_Paxialabs_UAT;persist security info=True;user id=usr_Serviplus_UAT;password=@dminS3rv1plu$UAT;max pool size=10000;packet size=32767;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="StringMailDisplay" value="soporte@goretail.mx" />
    <add key="StringMailHost" value="smtp.office365.com" />
    <add key="StringMailSender" value="soporte@goretail.mx" />
    <add key="StringMailPassword" value="PaxiaIT11**" />
    <add key="StringMailPort" value="587" />
    <add key="StringMailDestiny" value="juan.peralta@paxialabs.com" />
    <add key="TokenWEB" value="d43a179a-7c5f-4260-abb4-639985b91c18" />
    <add key="TokenMobile" value="26438b8b-a543-4d16-9ba6-8c7049a5c7cf" />
    <add key="TokenWS" value="0d7148a6-001b-434c-8c2f-fbac98d3c41e" />
    <add key="StringMailUser" value="soporte@goretail.mx" />
    <add key="MabeSFTPHost" value="201.131.100.101" />
    <add key="MabeSFTPUser" value="ftpspaxia" />
    <add key="MabeSFTPPwd" value="Pa1A$5plus" />
    <add key="MabeSFTPPwdKey" value="exT%iAxppa" />                                           
    <add key="GoogleFCMServerToken" value="AAAAk3TKoaU:APA91bH_lyYTDdvEYTMfOzNSmv5s68HVQ9O2LXWdNSQC4QrToHANhMNnjW9Wf2gFJYu8O81jQAQrY2HbNdIbDOGto0W1lYunWRQc7KLSQb3E-3xlFuzltr1tlwNiLG6zIUWEVLyugLK_" />
    <add key="GoogleFCMSenderIDToken" value="633319629221" />
    <add key="GoogleFCMUri" value="https://fcm.googleapis.com/fcm/send" />
    <add key="MabeSFTPRSA" value="C:\Users\Paxia\Documents\Mis archivos recibidos\PaxiaKey-putty\PaxiaKey-putty.ppk" />
    <add key="MabeSFTPFolderRemote" value="/Serviplus/ServiplusMobile_QA" />
    <add key="MabeSFTPFolderLocal" value="C:\PojectsTFS\Mabe\dev_sprint\S4\net.paxialabs.mabe.serviplus.web\Content\serviplus" />
    <add key="MabeAttachmentsLocal" value="C:\ProjectsTFS\RC\rc1.0.0.0\net.paxialabs.mabe.serviplus.web\Attachments\" />
    <add key="locateFiles" value="C:\PojectsTFS\Mabe\dev_sprint\S4\net.paxialabs.mabe.serviplus.web\Content\FilesServiplus" />
    <add key="LocateBodyMail" value="C:\PojectsTFS\Mabe\dev_sprint\S4\net.paxialabs.mabe.serviplus.resource\Resources\" />
    <add key="GoogleMapsDistanceMatrixURL" value="https://maps.googleapis.com/maps/api/distancematrix/json" />
    <add key="GoogleMapsDistanceMatrixTOKEN" value="AIzaSyAdPZtwNTre-rKgLA7uCHjt_1LujYgDHns" />
    <add key="GoogleFCMServerToken" value="AAAAk3TKoaU:APA91bFfLPsihLrLIqa3EJVFSZMablaeyodgQ-oikufj0lp3uty6hc_iQk3GrBz7KNnsWJhcZS6C-VKX02QXg8yxODPqXcstnZU5tsXnc16KeS8W10LNcKMjXqNtMaoHFrdwHOh-_-8C" />
    <add key="GoogleFCMSenderIDToken" value="633319629221" />
    <add key="GoogleFCMUri" value="https://fcm.googleapis.com/fcm/send" />
    <add key="locateEvidence" value="C:\ProjectsTFS\Mabe\dev\net.paxialabs.mabe.serviplus.web\Content\evidence\" />
    <add key="locateEvidenceRelative" value="~/Content/evidence/" />
    <add key="urlRequest" value="http://vmpaxiaappweb01.cloudapp.net:10500/" /> 
    <add key="Z_EntityFramework_Extensions_LicenseName" value="1251;101-GoRetail" />
    <add key="Z_EntityFramework_Extensions_LicenseKey" value="d58b061b-08f3-f122-ce20-bf2dcb274fec" />

    <!--<add key="endPointUpdateODS" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaODS_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ActualizaODS"/>
    <add key="endPointUpdateBase" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaIB_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ActualizaIB"/>
    <add key="endPointHistoryBase" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaIB_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/BusquedaIB"/>
    <add key="endPointHistoryODS" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaODS_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/BusquedaODS"/>
    <add key="endPointUpdateRefMan" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActRefMan_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ActRefMan"/>
    <add key="endPointModuleReserveSP" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CrearReserva_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/Crear_Reserva"/>
    <add key="endPointADRReserveSP" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Process_RPL_OA&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/Process_RPL"/>
    <add key="endPointUser" value="WS_SERVICIO" />
    <add key="endPointPwd" value="Xgltick2" />-->
    
    <add key="endPointUpdateODS" value=" https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaODS_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ActualizaODS" />
    <add key="endPointUpdateBase" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaIB_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ActualizaIB" />
    <add key="endPointHistoryBase" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaIB_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/BusquedaIB" />
    <add key="endPointHistoryODS" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaODS_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/BusquedaODS" />
    <add key="endPointUpdateRefMan" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActRefMan_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ActRefMan" />						
    <add key="endPointModuleReserveSP" value="https://collaboration.mabempresa.com:8061/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CrearReserva_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/Crear_Reserva" />
    <add key="endPointADRReserveSP" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Process_RPL_OA&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/Process_RPL" />	
    <add key="endPointInvoiceODS" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Facturacion_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Facturacion" />
    <add key="endPointReprogramingODS" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CONFINAL_ReprogramacionODS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ReprogramacionODS" />
    <add key="endPointOrdenVentaOut" value="https://collaboration.mabempresa.com:8062/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_PORTALES_ECOMMERCE_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OrdenVenta_Out&amp;interfaceNamespace=http://mabe.com/MW/PEC/COM/OrdenVenta_vTEX" />
    
    <add key="endPointUser" value="WS_DIGITAL" />
    <add key="endPointPwd" value="d1g1t4l" />
    <add key="endPointUserReprograming" value="ecommerce" />
    <add key="endPointPwdReprograming" value="mabe.12345" />



    <add key="AppCulture" value="es-MX" />

    <add key="exchangeURL" value="https://correomabe.com/ews/Exchange.asmx" />
    <add key="exchangeUser" value="mabenet\SACMEXMOB" />
    <add key="exchangePwd" value="M0b1.s3rv" />
    <add key="exchangeUserCotiza" value="mabenet\SACMEXCSE" />
    <add key="exchangePwdCotiza" value="C0t1.s3rv" />
    <add key="MailMTA" value="Exchange" />

    <add key="GoogleMatrixGeoLocation" value="AIzaSyC8M-4r_1VSYt160m28NunbQbunDHRnZFA" />
    <!-- Office365 | Exchange -->

    <!--<add key="locateSharedMailing" value="C:\ProjectsTFS\Mabe\dev\net.paxialabs.mabe.serviplus.resource\Resources" />-->


    <!--<add key="LocateContent" value="C:\PojectsTFS\Mabe\dev_sprint\S6\net.paxialabs.mabe.serviplus.web\Content\" />-->
    <add key="LocateContent" value="C:\ProjectsTFS\RC\rc1.0.0.0\net.paxialabs.mabe.serviplus.web\Content\" />
    <!-- Info Twilio -->
    <add key="TwilioAccountSid" value="AC1b465c9142e40640f44c0e89ab944184" />
    <add key="TwilioAuthToken" value="132018ab74dfaed7ab8a7dd017f77c35" />
    <add key="TwilioFromNumber" value="+12406509515" />
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization uiCulture="es-MX" culture="es-MX"></globalization>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
     <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
    <bindings>
      <basicHttpBinding>
        <binding name="SI_ActualizaODS_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
           <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_ActualizaIB_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
         <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />  
        <security mode="Transport" />
        </binding>
        <binding name="SI_BusquedaIB_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_BusquedaODS_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
           <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_ActRefMan_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
           <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_CrearReserva_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
           <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_Process_RPL_OABinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
           <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
       <binding name="SI_Facturacion_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
           <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_CONFINAL_ReprogramacionODSBinding" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_OrdenVenta_OutBinding" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
      <client>
     
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaODS" binding="basicHttpBinding" bindingConfiguration="SI_ActualizaODS_OSBinding1" contract="srUpdateODS.SI_ActualizaODS_OS" name="HTTPS_Port" />
     
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaIB" binding="basicHttpBinding" bindingConfiguration="SI_ActualizaIB_OSBinding1" contract="srUpdateBase.SI_ActualizaIB_OS" name="HTTPS_Port1" />
     
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaIB" binding="basicHttpBinding" bindingConfiguration="SI_BusquedaIB_OSBinding1" contract="srHistoryBase.SI_BusquedaIB_OS" name="HTTPS_Port2" />
     
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaODS" binding="basicHttpBinding" bindingConfiguration="SI_BusquedaODS_OSBinding1" contract="srHistoryODS.SI_BusquedaODS_OS" name="HTTPS_Port3" />
     
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActRefMan_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActRefMan" binding="basicHttpBinding" bindingConfiguration="SI_ActRefMan_OSBinding1" contract="srUpdateRefMan.SI_ActRefMan_OS" name="HTTPS_Port4" />
      
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CrearReserva_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FCrear_Reserva" binding="basicHttpBinding" bindingConfiguration="SI_CrearReserva_OSBinding1" contract="srModuleReserveSP.SI_CrearReserva_OS" name="HTTPS_Port5" />
      
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Process_RPL_OA&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FProcess_RPL" binding="basicHttpBinding" bindingConfiguration="SI_Process_RPL_OABinding1" contract="srADRReserveSP.SI_Process_RPL_OA" name="HTTPS_Port6" />
      
       <endpoint address="https://srvmabetest05.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Facturacion_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FFacturacion" binding="basicHttpBinding" bindingConfiguration="SI_Facturacion_OSBinding1" contract="srInvoiceODS.SI_Facturacion_OS" name="HTTPS_Port7" />

        <endpoint address="http://srvmabetest05.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CONFINAL_ReprogramacionODS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FReprogramacionODS" binding="basicHttpBinding" bindingConfiguration="SI_CONFINAL_ReprogramacionODSBinding" contract="srReprogramingODS.SI_CONFINAL_ReprogramacionODS" name="HTTP_Port8" />
        <endpoint address="http://srvmabetest05.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_PORTALES_ECOMMERCE_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OrdenVenta_Out&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FPEC%2FCOM%2FOrdenVenta_vTEX" binding="basicHttpBinding" bindingConfiguration="SI_OrdenVenta_OutBinding" contract="srOrdenVenta.SI_OrdenVenta_Out" name="HTTP_Port9" />
  
    </client>
  </system.serviceModel>



</configuration>