<div class="row">
    <div class="col-md-6 text-center" id="li1"><a id="li1A" href="@Url.Content("~/Notification/Index")">Notificaciones</a></div>
    <div class="col-md-6 text-center font-weight-bold" id="li2" style="margin-top: -3px;"><a id="li2A" href="@Url.Content("~/User/Index")">Usuarios</a></div>
</div>