<div class="row">
    <div class="col-md-4 text-center" id="li1"><a id="li1A" href="@Url.Content("~/Monitor/Evidence")">Evidencias</a></div>
    <div class="col-md-4 text-center" id="li2"><a id="li2A" href="@Url.Content("~/Home/Index")">ODS</a></div>
    <div class="col-md-4 text-center" id="li3" style="margin-top: -3px;"><a id="li3A" href="@Url.Content("~/Quotation/Index")">Cotización</a></div>
</div>