<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="db_PaxiaLabs_ServiplusEntitiesDEV" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmpaxiadev01.cloudapp.net;initial catalog=db_Serviplus_Paxialabs_prod;persist security info=True;user id=sa;password=P@x1@dbD3s@;max pool size=10000;packet size=32767;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_PaxiaLabs_ServiplusEntitiesQA" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmpaxiaqa02.cloudapp.net;initial catalog=db_Serviplus_Paxialabs_prod;persist security info=True;user id=sa;password=P@x1@dbQ@;max pool size=10000;packet size=32767;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_PaxiaLabs_ServiplusEntitiesUAT" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VMPAXIAUAT016545.cloudapp.net;initial catalog=db_PaxiaLabs_Serviplus;persist security info=True;user id=sa;password=P@x1@dbQ@;max pool size=10000;packet size=32767;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_PaxiaLabs_ServiplusEntities" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmpaxiadb01.westus2.cloudapp.azure.com;initial catalog=db_serviplus_paxialabs_prod;persist security info=True;user id=usr_Serviplus_prod;password=S3rv1pLu$Pr0D;max pool size=10000;packet size=32767;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MabeSFTPHost" value="201.131.100.101" />
    <add key="MabeSFTPUser" value="ftpspaxia" />
    <add key="MabeSFTPPwd" value="Pa1A$5plus" />
    <add key="MabeSFTPPwdKey" value="exT%iAxppa" />
    <add key="MabeSFTPRSA" value="C:\Users\Miguel\Desktop\Proyectos\Mabe\documentacion\construccion\PaxiaKey-putty.ppk" />
    <add key="MabeSFTPFolderRemote" value="/Serviplus/ServiplusMobile_QA/" />
    <add key="MabeSFTPFolderLocal" value="C:\ProjectsTFS\Mabe\dev\net.paxialabs.mabe.serviplus.web\Content\FilesLoadInterface\" />
    <add key="locateFiles" value="C:\ProjectsTFS\Mabe\dev\net.paxialabs.mabe.serviplus.web\Content\Files\" />
    <add key="Z_EntityFramework_Extensions_LicenseName" value="1251;101-GoRetail" />
    <add key="Z_EntityFramework_Extensions_LicenseKey" value="d58b061b-08f3-f122-ce20-bf2dcb274fec" />
    <add key="AppCulture" value="es-MX" />
    <add key="endPointUpdateODS" value="https://collaboration.mabempresa.com:8063/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaODS_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ActualizaODS" />
    <add key="endPointUpdateBase" value="https://collaboration.mabempresa.com:8063/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaIB_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ActualizaIB" />
    <add key="endPointHistoryBase" value="https://collaboration.mabempresa.com:8063/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaIB_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/BusquedaIB" />
    <add key="endPointHistoryODS" value="https://collaboration.mabempresa.com:8063/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaODS_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/BusquedaODS" />
    <add key="endPointUpdateRefMan" value="https://collaboration.mabempresa.com:8063/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActRefMan_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/ActRefMan" />
    <add key="endPointModuleReserveSP" value="https://collaboration.mabempresa.com:8063/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CrearReserva_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/Crear_Reserva" />
    <add key="endPointADRReserveSP" value="https://collaboration.mabempresa.com:8063/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Process_RPL_OA&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Mobile/Process_RPL" />
    <add key="endPointInvoiceODS" value="https://collaboration.mabempresa.com:8063/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Facturacion_OS&amp;interfaceNamespace=http://mabe.com/MW/CONFINAL/Facturacion" />
    <add key="endPointUser" value="WS_DIGITAL" />
    <add key="endPointPwd" value="d1g1t4l" />
    <add key="EmailDisplay" value="soporte@goretail.mx" />
    <add key="EmailHost" value="smtp.office365.com" />
    <add key="EmailUser" value="soporte@goretail.mx" />
    <add key="EmailPassword" value="PaxiaIT11**" />
    <add key="EmailPort" value="587" />
    <add key="EmailSender" value="soporte@goretail.mx" />
    <add key="EmailDestiny" value="miguel.ordonez@paxialabs.com" />
    <add key="GoogleMatrixGeoLocation" value="AIzaSyAzPpGH8cN-1V5R9YB3N_dwdr5lsq_HxFs" />
    <!-- AIzaSyC8M-4r_1VSYt160m28NunbQbunDHRnZFA -->
    <add key="MaxProcess" value="20" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="SI_ActualizaODS_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_ActualizaIB_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_BusquedaIB_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_BusquedaODS_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_ActRefMan_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_CrearReserva_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_Process_RPL_OABinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="SI_Facturacion_OSBinding1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaODS" binding="basicHttpBinding" bindingConfiguration="SI_ActualizaODS_OSBinding1" contract="srUpdateODS.SI_ActualizaODS_OS" name="HTTPS_Port" />
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaIB" binding="basicHttpBinding" bindingConfiguration="SI_ActualizaIB_OSBinding1" contract="srUpdateBase.SI_ActualizaIB_OS" name="HTTPS_Port1" />
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaIB" binding="basicHttpBinding" bindingConfiguration="SI_BusquedaIB_OSBinding1" contract="srHistoryBase.SI_BusquedaIB_OS" name="HTTPS_Port2" />
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaODS" binding="basicHttpBinding" bindingConfiguration="SI_BusquedaODS_OSBinding1" contract="srHistoryODS.SI_BusquedaODS_OS" name="HTTPS_Port3" />
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActRefMan_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActRefMan" binding="basicHttpBinding" bindingConfiguration="SI_ActRefMan_OSBinding1" contract="srUpdateRefMan.SI_ActRefMan_OS" name="HTTPS_Port4" />
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CrearReserva_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FCrear_Reserva" binding="basicHttpBinding" bindingConfiguration="SI_CrearReserva_OSBinding1" contract="srModuleReserveSP.SI_CrearReserva_OS" name="HTTPS_Port5" />
      <endpoint address="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Process_RPL_OA&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FProcess_RPL" binding="basicHttpBinding" bindingConfiguration="SI_Process_RPL_OABinding1" contract="srADRReserveSP.SI_Process_RPL_OA" name="HTTPS_Port6" />
      <endpoint address="https://srvmabetest05.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Facturacion_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FFacturacion" binding="basicHttpBinding" bindingConfiguration="SI_Facturacion_OSBinding1" contract="srInvoiceODS.SI_Facturacion_OS" name="HTTPS_Port7" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>