@{ ViewBag.Title = "Acceso denegado";
    //Layout = "~/Views/Shared/_LayoutNoAuth.cshtml";
}

<div class="center-abs">
    <div class="center-abs-child serviplus-logo">
        <img src="@Url.Content("~/Content/Images/Logo_serviplus_2017sd.png")" width="380">
    </div>
</div>

<div class="center-abs">
    <div class="center-abs-child notification-error text-center">
        Sin Acceso, no cuenta con los permisos necesarios para acceder a este Módulo, favor de comunicarse con su Administrador.
    </div>
</div>
