
@{
    ViewBag.Title = "Finalizar";
    Layout = "~/Views/Shared/_LayoutNoAuth.cshtml";
}

 
    <h2>Cerrando su sesión, espere por favor...</h2>
    <script type="text/javascript">
            $(document).ready(function () {
                window.location.href = "/Home/Index";
            });
    </script>


