<label class="main-data font-weight-bold en-bloque slight-margin-bottom blue-header">Notas</label>
<div class="en-bloque slight-margin-bottom">
    <span>@ViewBag.dataVisit.NoteOrder</span>
</div>
<div class="en-bloque">
    <span>@ViewBag.dataVisit.NoteVisit</span>
</div>