<label class="main-data font-weight-bold en-bloque slight-margin-bottom blue-header">Base instalada</label>
<div class="en-bloque">
    <label class="main-data font-weight-bold">Mensaje:</label>
    <span class="en-linea">@ViewBag.dataLog.UpdateBase</span>
</div>

<label class="main-data font-weight-bold en-bloque slight-margin-bottom blue-header">Mano de Obra y Refacciones</label>
<div class="en-bloque">
    <label class="main-data font-weight-bold">Mensaje:</label>
    <span class="en-linea"> @ViewBag.dataLog.UpdateRefMan</span>
</div>

<label class="main-data font-weight-bold en-bloque slight-margin-bottom blue-header">ODS</label>
<div class="en-bloque">
    <label class="main-data font-weight-bold">Mensaje:</label>
    <span class="en-linea"> @ViewBag.dataLog.UpdateODS</span>
</div>

