<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="db_PaxiaLabs_ServiplusEntities" connectionString="metadata=res://*/Model.db_paxialabs_mabe_serviplus_model.csdl|res://*/Model.db_paxialabs_mabe_serviplus_model.ssdl|res://*/Model.db_paxialabs_mabe_serviplus_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmpaxiapaxialabsdb.westus2.cloudapp.azure.com;initial catalog=db_Serviplus_Paxialabs_QA;persist security info=True;user id=jose.poot;password=J0s3Poot%;max pool size=10000;multipleactiveresultsets=True;packet size=32767;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>