<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="LinqKit" version="1.1.15" targetFramework="net462" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.9.0" targetFramework="net462" />
  <package id="Z.EntityFramework.Extensions" version="3.12.27" targetFramework="net462" />
</packages>